html,
body,
#root {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
body {
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  background-color: #fcbf49;
  color: $color-principal;
}
#root {
  display: flex;
  flex-direction: column;
}
