header {
  margin: 0px;
  padding: 0px;
  background-color: $color-principal;
  height: 100px;
  color: $color-secundario;
  padding: 10px;

  .navbar {
    display: flex;
    justify-content: space-between;
    div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      img {
        height: 50px;
        width: 50px;
      }
    }
  }
}
