header {
  margin: 0px;
  padding: 0px;
  background-color: $color-principal;
  height: 100px;
  color: $color-secundario;
  padding: 10px;

  .navbar {
    display: flex;
    justify-content: space-between;
    div {
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 20px;
      h1 {
        .nombre1 {
          font-family: "Harry Potter", sans-serif;
          font-weight: 600;
        }
        .nombre2 {
          font-family: "Amazon Ember Display", sans-serif;
        }
      }
      img {
        height: 40px;
        width: 40px;
      }
    }
  }
}
