.main {
  flex-grow: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  .card {
    height: 250px;
    width: 250px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    overflow: hidden;

    .img {
      background-color: $color-detalle;
      height: 50%;
    }
    .text {
      background-color: $color-detall2;
      height: 50%;
      p {
        margin: 0px;
        text-align: center;
        color: $color-secundario;
        font-size: 2rem;
      }
    }
  }
}
