:root {
  --color-principal: #fffcf2;
  --color-principal-d: #252422;
  --color-secundario: #ccc5b9;
  --color-secundario-d: #403d39;
  --color-detalle: #eb5e28;
}

@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.cdnfonts.com/css/harry-potter");
